.boton-contenedor {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #4f3cd0;
  color: white;
  border-radius: 20px;
  border: 2px solid transparent;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.boton-contenedor:hover {
  background-color: #ae9c20;
}

.operador {
  background-color: #f33d1d;
  border: 2px solid transparent;
}

.operador:hover {
  background-color: #fc9c6c;
}
