.boton-clear {
  height: 80px;
  font-size: 1.6em;
  display: flex;
  flex: 1;
  background-color: #f33d1d;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  border: 2px solid transparent;
  border-radius: 45px;
  cursor: pointer;
  user-select: none;
}

.boton-clear:hover {
  background-color: #fc9c6c;
}
